[alias]
lint =     "clippy --all --all-features                      -- -D warnings -D clippy::all -W clippy::pedantic -W clippy::nursery -D clippy::perf -D rust-2018-idioms" # -D clippy::cargo
lint-fix = "clippy --all --all-features --fix --allow-staged -- -D warnings -D clippy::all -D clippy::pedantic -D clippy::nursery -D clippy::perf -D rust-2018-idioms" # -D clippy::cargo
coverage = "tarpaulin --skip-clean --out Html --workspace --profile tarpaulin --implicit-test-threads"

[build]
rustflags = [
    # tokio console
    "--cfg", "tokio_unstable",
    # for profiling
    # "-C",
    # "symbol-mangling-version=v0",
]
