name: Publish to Crates.io

on:
  release:
    types: [created]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: "full"

concurrency:
  group: Publish-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dry-run:
    name: Dry run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends libasound2-dev pkg-config wget libavutil-dev libavformat-dev protobuf-compiler

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Setup cache
        uses: Swatinem/rust-cache@v2.8.1
        with:
          shared-key: ${{ runner.os }}-cd-${{ hashFiles('**/Cargo.lock') }}

      - name: Install cargo-hakari
        uses: taiki-e/install-action@v2.62.29
        with:
          tool: cargo-hakari

      - name: Remove workspace-hack from Cargo.toml's
        run: cargo hakari remove-deps -y

      - name: Dry run publish to crates.io
        run: cargo publish --workspace --dry-run --allow-dirty

  crates-io-publish:
    name: Publish to crates.io
    strategy:
      matrix:
        crate:
          [
            surrealqlx-macros-impl,
            surrealqlx-macros,
            surrealqlx,
            one-or-many,
            mecomp-analysis,
            mecomp-storage,
            mecomp-core,
            mecomp-prost,
            mecomp-daemon,
            mecomp-mpris,
            mecomp-cli,
            mecomp-tui,
          ]
      max-parallel: 1
      fail-fast: false # Continue with other crates even if one fails, this is necessary because not all crates need to be published for any given release
    runs-on: ubuntu-latest
    needs: dry-run
    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends libasound2-dev pkg-config wget libavutil-dev libavformat-dev protobuf-compiler

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Setup cache
        uses: Swatinem/rust-cache@v2.8.1
        with:
          shared-key: ${{ runner.os }}-cd-${{ hashFiles('**/Cargo.lock') }}

      - name: Install cargo-hakari
        uses: taiki-e/install-action@v2.62.29
        with:
          tool: cargo-hakari

      - name: Publish to crates.io
        run: cargo hakari publish --package ${{ matrix.crate }} --token=$CARGO_REGISTRY_TOKEN
